@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(237, 237, 237, 0.84);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo_account{
    display: flex;
    flex-direction: row;
    gap: 520px;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_image{
    width: 40px;
    height: 40px;
}

.logo_text{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.logo_text_main{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #41047E;
    letter-spacing: 5px;
    font-size: 15px;
}

.logo_text_small{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FF7CFF;
    letter-spacing: 2px;
    font-size: 10px;
}

.profil_image{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.line_header{
    height: 1px;
    width: 100vw;
    background-color: #41047E;
    border-color: #41047E;
}

.main_part{
    display: flex;
    flex-direction: column;
}

.card{
    border: solid 3px #41047E;
    border-radius: 15px;
    height: 440px;
    width: 350px;
    box-shadow: 10px 10px 20px rgba(23, 3, 46, 0.34);
    display: flex;
    flex-direction: column;
    background-color: white;
}
.user_foto{
    width: 350px;
    height: 350px;
    border-radius: 14px;
}

.name_and_age{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: #1c0237;
}

.main_part_text{
    margin: 10px;
}
.inerests{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: rgba(30, 2, 58, 0.59);
}

.buttons_yes_no{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.button_border{
    border: solid 3px rgba(30, 2, 58, 0.78);
    border-radius: 10px;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.button_border:hover {
    background-color: rgba(33, 2, 74, 0.18); /* Цвет фона при наведении */
}

.button_border:active {
    background-color: #D3B6FF; /* Цвет фона при нажатии */
}

.button_foto_heart{
    width: 30px;
    height: 30px;
}
.button_foto_cross{
    width: 20px;
    height: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 50px;
    height: 80px;
    background-color: #1c0237;
    width: 100vw;
}

.footer_text{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

.swipe{
    border: solid 3px white;
    border-radius: 10px;
    height: 35px;
    width: 70px;
    background-color: white;
    color: #1c0237;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.image_people{
    width: 25px;
    height: 25px;
}

.people{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    color: white;
    height: 35px;
    width: 110px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.people:hover {
    background-color: white;
    color: #1c0237;
    border: solid 3px white;
    border-radius: 10px;
}
.people:hover .image_people {
    fill: #1c0237;
    stroke: #1c0237;
}

.people:active {
    background-color: white;
    color: #1c0237;
    border: solid 3px white;
    border-radius: 10px;
}